<%= form_for(@app_file) do |f| %>
  <% if @app_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_file.errors.count, "error") %> prohibited this app_file from being saved:</h2>

      <ul>
      <% @app_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :app_directory_id %><br />
    <%= f.number_field :app_directory_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
