<%= form_for(@method_call) do |f| %>
  <% if @method_call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@method_call.errors.count, "error") %> prohibited this method_call from being saved:</h2>

      <ul>
      <% @method_call.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
