<h1>Listing method_calls</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @method_calls.each do |method_call| %>
  <tr>
    <td><%= method_call.name %></td>
    <td><%= link_to 'Show', method_call %></td>
    <td><%= link_to 'Edit', edit_method_call_path(method_call) %></td>
    <td><%= link_to 'Destroy', method_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Method call', new_method_call_path %>
