<p id="notice"><%= notice %></p>

<p>
  <b>Parent node:</b>
  <%= @app_directory_node.parent_node_id %>
</p>

<p>
  <b>Name:</b>
  <%= @app_directory_node.name %>
</p>


<%= link_to 'Edit', edit_app_directory_node_path(@app_directory_node) %> |
<%= link_to 'Back', app_directory_nodes_path %>
